*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    width: auto;
    height: auto;
}
.container{
    display: grid;
}
.img1{
    grid-area: 1/1;
    padding-left: 300px;
    text-align: center;
    align-self: center;
    padding-bottom: 28px;
    height: 150px;
    width: 150px;

    
}
.ulone{
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* height: 200px;
    width: 300px; */
    /* padding-right: 200px; */
    /* padding-bottom: 300px; */
}
.listone{
    display: inline;
    color: #127BB9;
    overflow: hidden;
    padding-left: 15px;
}
.listone a{
    color: #127BB9;
    overflow: hidden;
    text-decoration: none;
    /* justify-content: center; */
    /* padding: 4px; */

}
a:hover{
    color: #FFC20E;
    text-decoration: none;
}

.card{
    color: white;
    grid-area: 2/1;
    border: 1px black;
    background-color: rgb(56, 151, 56);
    height: 500px;
    width: 500px;
    padding-left: 300px;
    margin-left: 300px; 
    padding: 30px;
    /* border-top: 400px; */
    border-radius: 12px 12px;
}
.card2{
    background-color: #F69788;
    height: 500px;
    width: 920px;
    grid-area: 2/2;
    margin-left: 100px;
}
.cardh2{
    font-size: 30px;
    margin-right: 50px;
}
.cardp1{
    font-size: 25px;
}
.cardone{
    padding-left: 10px;
    
}
button{
    border-radius: 15px 15px;
}
.onebutton{
    border: 2px rgb(226, 97, 10);
    background-color: rgb(226, 97, 10);
    color: white;
}
.twobutton{
    border: 2px white;
    color: #085886;
}
