*{  
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
  }
  .container {
    display: grid;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .logo img { 
    height: 141px;
    width: 260px;
    padding: 10px;
    margin-top: 20px;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 300px;
    padding-bottom: 30px;
    height: 125px;
    width: 235px;
    float: left;
    top: 97px;
  }
  .ulone {
    grid-column: 3/5;
    grid-row: 1;
    overflow: hidden;
    margin: 10px;
    padding-left: 200px;
    padding-bottom: 10px;
    margin-top:8px;
    margin-left: 400px;
  }
  #nav li {
    display: inline;
    overflow: hidden;
    padding-right: 26px;
    font-family: 'Poppins', sans-serif;
  }
  #nav li a {
    color: #127BB9;
    text-decoration: none;
  }
  #nav li a:hover {
    color: #c99f17;
  }
  #nieuws .col {
    background-color: #F15B47;
    height: 350px;
    border-radius: 12px 12px 12px 12px;
    width: 580px;
    margin: 30px;
    margin-left: 320px; 
    position: relative;
    top: 40px;
    z-index: 1;
  }
  #nieuws .col h2{
    color: white;
    padding: 38px;
    margin: 12px;
    padding-bottom: 40px;
    font-family: 'poppins', bold;
    font-size: 35px;
  }
  #nieuws .col p{
    color: white;
    padding: 25px;
     
  }
  #nieuws .col1 {
    background-color: #1A4797;
    height: 350px;
    width: 1065px;
    margin: 30px;
    margin-left: 320px; 
    position: relative;
    bottom: 490px;
    left: 280px;
}
#nieuws .buttonone {
    float: right;
    padding: 25px;
}
#nieuws .buttonone .firstbutton{
    border: 1px rgb(226, 97, 10);
    background-color: white;
    border-radius: 30px 30px ;
    height: 32px;
    width: 32px;
    color: rgb(226, 97, 10);
    font-family: 'Poppins', sans-serif;
}
#nieuws .buttonone .secondbutton {
    border: 1px #1A4797;
    background-color:  #1A4797;
    border-radius: 30px 30px ;
    height: 32px;
    width: 32px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#info{
  height: 500px;
  margin-left: 320px;
  margin-top: -240px;
  display: grid;
}
#info h3 {
  padding: 20px;
  font-size: 30px;
  color: #127BB9;
}
#info p {
  width: 240px;
  padding: 23px;
  color: #127BB9;
}
#info .card {
  height: 600px;
  width: 300px;
  grid-row: 2;
  grid-column: 1 /4;
  box-shadow:  0 0 0 0px rgb(28, 190, 139), 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
#info .card .blue {
  height: 150px;
  width: 300px;
  background-color:  #1A4797;
}
#info .card button {
  background-color: #F15B47;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}
#info .card1 {
  height: 600px;
  width: 300px;
  margin-right: 65px;
  grid-row: 2;
  grid-column: 2 /4;
  box-shadow:  0 0 0 0px rgb(28, 190, 139), 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
#info .card1 button {
  background-color: #F15B47;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}
#info .card1 .roze {
  height: 150px;
  width: 300px;
  background-color: #f39a8d;
}
#info .card2 {
  height: 600px;
  width: 300px;
  margin-right: 65px;
  grid-row: 2;
  grid-column: 3/4;
  box-shadow:  0 0 0 0px rgb(28, 190, 139), 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
#info .card2 .oranje {
  height: 150px;
  width: 300px;
  background-color: #F15B47;
}
#info .card2 button {
  background-color: #F15B47;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}
#row{
  margin-top: 85px;
}
#row .card {
  margin-left: 320px;
  grid-row: 3;
  grid-column: 1 / 4;
  border-radius: 12px 12px 12px 12px;
  height: 500px;
  width: 400px;
  background-color: #F15B47;
  position: relative;
  top: 200px;
  z-index: 1;

}
#row .card button{
  background-color:  #1A4797;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}#row .card h3{
  color: white;
  font-size: 25px;
}
#row .yellow {
  grid-row: 3;
  grid-column: 2 / 4;
  height: 500px;
  width: 700px;
  margin-right: 390px;
  float: right;
  background-color: #c99f17;
  position: relative;
  bottom: 350px;
}
#row1 {
  /* height: 500px; */
  margin-left: 320px;
  display: grid;
}
#row1 h3 {
  padding: 20px;
  font-size: 30px;
  color: #127BB9;
}
#row1 p {
  width: 240px;
  padding: 23px;
  color: #127BB9;
}
#row1 .card {
  height: 630px;
  width: 300px;
  grid-row: 1;
  grid-column: 1/4;
  box-shadow:  0 0 0 0px rgb(28, 190, 139), 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}#row1 .card button {
  background-color: #F15B47;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}
#row1 .card .oranje {
  height: 150px;
  width: 300px;
  background-color: #F15B47;
}
#row1 .card1 {
  height: 630px;
  width: 300px;
  /* margin-right: 65px; */
  grid-row: 1;
  grid-column: 2 /4;
  box-shadow:  0 0 0 0px rgb(28, 190, 139), 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
#row1 .card1 button {
  background-color: #F15B47;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}
#row1 .card1 .blue {
  height: 150px;
  width: 300px;
  background-color:  #1A4797
}
#row1 .card2 {
  height: 630px;
  width: 300px;
  grid-row: 1;
  grid-column: 3 /4;
  box-shadow:  0 0 0 0px rgb(28, 190, 139), 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
#row1 .card2 button {
  background-color: #F15B47;
  margin-left: 52px;
  margin-top: 10px;
  height: 25px;
  width: 170px;
  color: white;
  border-radius: 30px 30px;
  background-image: url(./img/arrow_blue.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 130px;
}
#row1 .card2 .roze {
  height: 150px;
  width: 300px;
  background-color: #f39a8d;
}
#donatie{
  background-color: #1A4797;
  grid-row: 6;
  width: 1580px;
  height: 570px;
  border-radius: 12px 12px;
  margin-top: 500px;
  display: grid;
  grid-template-columns: 18.3% 28%;
  margin-left: 50px;
} 
#donatie .cardOR{
  position: relative;
  background-color: #F15B47;
  height: 550px;
  width: 400px;
  left: 430px;
  bottom: 100px;
}
#donatie .cardOR p{
  padding: 22px;
  font-size: 50px;
  color: white;
  margin-top: 130px;
  font-family: 'Nanum Pen Script', cursive;
}
#donatie .cardtext {
  margin: 5px;
  padding: 30px;
  position: relative;
  float: left;
  left: 550px;
  color: white;
}
#sponsors{
  grid-row: 7;
  margin-top: 100px; 
  height: 630px;
  width: 700px;
}
#sponsors h2 {
  color: #1A4797;
  font-size: 40px;
  align-self: center;
  margin-left: 380px;
  float: left;
  width: 700px;
  height: 300px;
}
#sponsors img {
  margin-left: 380px;
  height: 100px;
  width: 100px;
}
#sponsors button {
  background-color: #F15B47;
  margin-left: 700px;
  margin-top: 150px;
  height: 25px;
  width: 150px;
  color: white;
}
#footer{
  grid-row: 9;
  background-color: #F15B47; 
  width: 1580px;
  height: 750px;
  border-radius: 12px 12px 0px 0px;
  margin-top: 80px;                                           
  display: grid;
  grid-template-columns: 18.3% 28%;
  margin-left: 50px;
}
#footer .footdiv{
  padding: 15px;
  margin-left: 350px;
  height: 300px;
  width: 400px;
  margin-top: 50px;
}
#footer .footdiv2{
  padding: 15px;
  margin-left: 550px;
  height: 300px;
  width: 350px;
  margin-top: 50px;
}
#footer h3{
  color: white;
  font-size: 30px;
}
#footer p{
  color: white;
}
#footer ul{
  overflow: hidden;
  padding: 0px;
}
#footer li{
  overflow: hidden;
  text-decoration: none;
}
#footer li a {
  overflow: hidden;
  text-decoration: none;
  color: white;
}
#footer .fa-facebook, .fa-instagram {
  background: white;
  color: #F15B47;    
  padding: 15px;
  font-size: 10px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 50%;
} 